<p>
  comp2 works!
</p>
<h4>structural directives *ngIf</h4>
<button type="button" (click)="show()">{{b?"Hide":"show"}}</button>
<p *ngIf="b">Routing basically means navigating between pages. You have seen many
    sites with links that direct you to a new page. This can be achieved using
    routing. Here the pages that we are referring to will be in the form of
    components. We have already seen how to create a component. Let us
    now create a component and see how to use routing with it. In the main
    parent component app.module.ts, we have to now include the router
    module as shown below −
    </p>