.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.image{
    width: 100px;
    height: 100px;
    border:2px solid;
    border-radius: 50px;
    position: relative;
    top: -51px;
    left: 31%;
}
.container{
    position: relative;
}
