<div class="card-deck mt-3">
  <div class="card">
    <div class="card-body">
      <img src="assets/r15.jpg" width="100%%" height="100%">
      <h4>R15</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img src="assets/r15.jpg" width="100%" height="100%">
      <h4>R15</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img src="assets/r15.jpg" width="100%" height="100%">
      <h4>R15</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img src="assets/r15.jpg" width="100%" height="100%">
      <h4>R15</h4>
    </div>
  </div>
</div>
<div class="card-deck mt-3">
  <div class="card">
    <div class="card-body">
      <img src="assets/r15.jpg" width="100%" height="100%">
      <h4>R15</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img src="assets/r15.jpg" width="100%" height="100%">
      <h4>R15</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img src="assets/r15.jpg" width="100%" height="100%">
      <h4>R15</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <img src="assets/r15.jpg" width="100%" height="100%">
      <h4>R15</h4>
    </div>
  </div>
</div>